<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <title>Helpdesk</title>
</head>

<body class="page">
    <header class="header">
        <nav class="nav">
            <a class="branding" href="/">DHL Helpdesk</a>
        </nav>
    </header>
    <section class="hero-section">
        <h2 class="hero-text">help is always available.</h2>
        <p class="hero-subtext">
            Find your order quick with DHL Helpdesk.
        </p>
        </div>
    </section>
    <main class="chat-section">
        <form class="phone-outline">
            <article class="chat-history">
                <p class="chat-bubble theirs">Hello, let me know how I can help you.</p>
            </article>
            <div class="message-bar">
                <input type="text" name="message-input" id="message-input" class="message-input" placeholder="Type here to begin chatting..." value="" autofocus tabindex="1" />
                <button type="submit" class="send-button" tabindex="2">Send</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        Built by <a href="https://github.com/kaylint">kt</a>
    </footer>

    <!-- scripts -->
    <script src="static/logic.js"></script>
    <!-- /scripts -->
</body>

</html>